* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 36px;
    color: rgb(225, 225, 225);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(225, 225, 225);
    font-size: 26px;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.content {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 80px;
}

.shinji {
    width: 500px;
    border-radius: 25px;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    color: rgb(225, 225, 225)
}

h1 {
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 40px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    width: 100px;
    margin-top: 10px;
  }

.information {
    background-color: #f9f9f9;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imginfo {
    max-width: 100%;
    height: 200px;
    border-radius: 25px;
    display: flex;
}

h2 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 30px;
}

.imgdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.imgcap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.quote {
    background-color: #cccccc;
    padding: 80px;
}

.qucontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotefont {
    color: #8e8e8e;
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
}

.kaworu {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.foot1 {
    background-color: #f9f9f9;
    padding: 80px;
    display: flex;
    justify-content: center;
}

.action {
    background-color: #1F2937;
    border-radius: 5px;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 50px;
}

footer {
    background-color: #1F2937;
    color: #f9f9f9;
    text-align: center;
    padding: 20px;
}
