* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

@font-face {
    font-family: 'MyFont';
    src: url('/webfonts/Times-New-Roman-MT-Std-Bold-Condensed.otf') format('truetype');
  }

body {
    background-image: url(img/bkground.jpg);
}

.header {
    background-color: #1f293789;
    display: flex;
    padding: 30px;
    margin-top: -10px;
    margin-bottom: -15px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: lighter;
    font-size: 40px;
    color: rgb(225, 225, 225);
    font-family: 'MyFont';
    text-shadow: 1px 1px 2px black;
}

ul {
    list-style-type: none;
}

.headList {
    text-decoration: none;
    color: rgb(225, 225, 225);
    font-size: 22px;
    font-family: 'MyFont';
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
    transition: 0.2s ease-in-out;
}

.headList:hover {
    cursor: pointer;
    color: rgb(117, 117, 117);
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.content {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 80px;
    background-image: url(img/bkground.jpg);
}

.shinji {
    width: 500px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 6px 6px 12px black;
    opacity: 0.5;
    transition: 0.4s ease-in-out;
}

.shinji:hover {
    opacity: 1;
    transform: scale(0.95);
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    height: 450px;
    color: rgb(225, 225, 225);
    background-color: #1f2937a3;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
}

.whatEva { 
    text-align: justify;
}

h1 {
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'MyFont';
    text-shadow: 1px 1px 2px black;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    width: 100px;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
  }

  button:hover {
    background-color: rgb(32, 51, 109);
    cursor: pointer;
  }

.information {
    background-color: #f9f9f9;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imginfo {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    display: flex;
    border: 1px solid #1f2937;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'MyFamily';
}

.imgdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.imgcap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.quote {
    background-color: #cccccc;
    padding: 80px;
}

.qucontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotefont {
    color: #8e8e8e;
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
}

.kaworu {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.foot1 {
    background-color: #f9f9f9;
    padding: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footLink {
    color: #ffffff;
    text-decoration: none;
}

.footLink:hover {
    color: #ffffff;
    text-decoration:underline;
}

.action {
    background-color: #1F2937;
    border-radius: 5px;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 50px;
}

footer {
    background-color: #1F2937;
    color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

.txtact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}
